#user-profile-modal .actions .btn.add-friend {
    background: #9d00ff;
}

/*Nitro Tag*/
.avatar-large[style*="/a_"]+.comment .username-wrapper .user-name:before {
    content: "|";
    margin-right:3px;
    position: relative;
    display: inline-block;
    font-family: BMTicons;
    transform: translate(0,3px);
}
.avatar-small[style*="/a_"]+.member-inner .member-username .member-username-inner:before {
    content: "|";
    margin-right:3px;
    position: relative;
    display: inline-block;
    font-family: BMTicons;
    transform: translate(0,3px);
}

.messages-wrapper .messages .message-group a {
    color: #e79bff!important;
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
}
#friends, .guilds-wrapper, #friends .friends-table .friends-table-header, .flex-horizontal>.flex-spacer:not(.private-channel-call-participants), .chat .messages, .friends-table .messages .message-group:not(.has-divider), .messages-wrapper .messages .message-group:not(.has-divider) .friends-table .friends-table-header+ .scroller-wrap .scroller {
    background: transparent !important;
}
